@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;700;900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



body{

    background:#111;

    font-family:Inter, sans-serif;

    display:flex;

    justify-content:center;

    overflow-x:hidden;

}





/* =====================
APP
===================== */


.app{

    width:100%;

    max-width:390px;

    min-height:100vh;

    background:#efe4c8;

    padding:20px;

}






/* =====================
HEADER
===================== */


header{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:25px;

}



.logo{

    width:70px;

    height:70px;

    object-fit:contain;

}



header h1{

    font-family:Anton;

    font-size:70px;

    letter-spacing:2px;

    line-height:.9;

}



header p{

    font-size:12px;

    font-weight:900;

    color:#456b4d;

}







/* =====================
NAVIGATION
===================== */


.tabs{

    display:flex;

    justify-content:space-between;

    margin-bottom:25px;

    border-bottom:2px solid #111;

}



.tabs button{

    background:none;

    color:#111;

    border:none;

    padding:12px 5px;

    font-weight:900;

    font-size:13px;

}



.tabs button.active{

    border-bottom:4px solid #456b4d;

}





/* =====================
PAGES
===================== */


.page{

    display:none;

}



.page.active{

    display:block;

}



h2{

    font-family:Anton;

    font-size:45px;

    letter-spacing:1px;

    margin-bottom:20px;

}







/* =====================
CARDS
===================== */


.card{

    background:#fff8e8;

    border:2px solid #111;

    border-radius:25px;

    padding:25px;

    margin-bottom:20px;

    box-shadow:6px 6px 0 #111;

}



.card h3{

    font-size:24px;

    margin-bottom:15px;

}





/* =====================
WORKOUT
===================== */


.exercise{

    display:flex;

    justify-content:space-between;

    padding:15px 0;

    border-bottom:1px solid #ddd;

    font-weight:700;

}





button{

    background:#111;

    color:white;

    border:none;

    padding:16px 25px;

    border-radius:40px;

    font-weight:900;

    cursor:pointer;

}





button:active{

    transform:scale(.95);

}








/* =====================
STATS
===================== */


.stats{

    display:flex;

    gap:10px;

    margin-bottom:20px;

}



.stats div{

    flex:1;

    background:#111;

    color:#fff8e8;

    border-radius:20px;

    padding:20px 10px;

    text-align:center;

}



.stats h3{

    font-size:28px;

}






/* =====================
SOCIAL CARD
===================== */


.social-card{

    background:#111;

    color:#fff8e8;

    box-shadow:6px 6px #456b4d;

}



.social-card p{

    margin-bottom:20px;

    opacity:.8;

}



.social-link{

    display:block;

    text-decoration:none;

    background:#efe4c8;

    color:#111;

    padding:15px;

    border-radius:18px;

    margin-top:12px;

    font-weight:900;

}





.social-link:hover{

    transform:translateY(-3px);

}







/* =====================
FEED
===================== */


#feed{

    margin-left:-20px;

    margin-right:-20px;

}



#feed h2,

#feed .create{

    margin-left:20px;

    margin-right:20px;

}



.create{

    width:calc(100% - 40px);

    margin-bottom:20px;

}





.video-post{

    height:650px;

    background:#000;

    position:relative;

}



.video-post video{

    width:100%;

    height:100%;

    object-fit:cover;

}



.video-info{

    position:absolute;

    bottom:30px;

    left:20px;

    color:white;

}







/* =====================
POPUP
===================== */


.popup{

    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.7);

    justify-content:center;

    align-items:center;

    z-index:100;

}





.popup-box{

    width:330px;

    background:#fff8e8;

    border:3px solid #111;

    border-radius:25px;

    padding:30px;

}





.popup input{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border:2px solid #111;

    border-radius:15px;

}





.cancel{

    background:#777;

    margin-top:10px;

    width:100%;

}







/* =====================
MOBILE
===================== */


@media(max-width:400px){


.app{

    padding:15px;

}



header h1{

    font-size:60px;

}



h2{

    font-size:38px;

}


}

.challenge{

background:#efe4c8;

border-radius:20px;

padding:15px;

margin-top:15px;

}


.challenge h4{

font-size:22px;

}


.challenge button{

margin-top:10px;

font-size:14px;

}

/* =====================
PROFILE SYSTEM
===================== */


.profile-card{

text-align:center;

}



.profile-picture{

width:150px;

height:150px;

border-radius:50%;

object-fit:cover;

border:4px solid #111;

margin-bottom:15px;

background:#efe4c8;

}



.edit-picture{

margin-bottom:20px;

font-size:14px;

}



#bioInput{

width:100%;

height:90px;

resize:none;

padding:15px;

border:2px solid #111;

border-radius:20px;

font-family:Inter,sans-serif;

font-size:14px;

margin-bottom:15px;

background:white;

}



.saveProfile{

width:100%;

}



.profile-stats{

display:flex;

gap:10px;

margin-top:20px;

}



.profile-stats div{

flex:1;

background:#111;

color:#fff8e8;

border-radius:20px;

padding:15px 5px;

}



.profile-stats h3{

font-size:25px;

margin-bottom:5px;

}



.profile-stats p{

font-size:12px;

font-weight:900;

}
